<!DOCTYPE html>
<html>
<head>
	<title>	Right</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

</head>
<body style="background-color: #353836">

	<%- include nav %>

	<div class="container jumbotron mt-4 mb-4">	
		<center>
			<h2>Calorie Intake : 123/343</h2><br>
			<div class="progress">
			  <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuemax="100">50%</div>
			</div>
		</center>
	</div>

	<!-- Body -->

	<div class="row">

	  	<div class="col-sm-4 mb-4">
		    <div class="card">
		    	<div class="card-header"><h5 class="card-title"><center>Soda</center></h5></div>
		    	<div class="card-img-top">
		    		<center><img src="http://glyffix.com/Image/ShowUploadedImage/1608" alt="Card image cap"></center>
		    	</div>
			    <div class="card-body">
			        <h5 class="card-title"><center>Special title Description</center></h5>
			        <div class="d-flex justify-content-around">
			        	<h2>Clories : </h2>
			        	<h2>123</h2>
			        </div>
			        
			        <div class="card-header d-flex justify-content-around">
			        	<button class="btn btn-success btn-sm rounded-2" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"> Update</i></button>
			        	<button class="btn btn-danger btn-sm rounded-2" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"> Delete</i></button>
			        </div>
			    </div>
		    </div>
	  	</div>

	  	<div class="col-sm-4 mb-4">
		    <div class="card">
		    	<div class="card-header"><h5 class="card-title"><center>Soda</center></h5></div>
		    	<div class="card-img-top">
		    		<center><img src="http://glyffix.com/Image/ShowUploadedImage/1608" alt="Card image cap"></center>
		    	</div>
			    <div class="card-body">
			        <h5 class="card-title"><center>Special title Description</center></h5>
			        <div class="d-flex justify-content-around">
			        	<h2>Clories : </h2>
			        	<h2>123</h2>
			        </div>
			        <div class="card-header d-flex justify-content-around">
			        	<button class="btn btn-success btn-sm rounded-2" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"> Update</i></button>
			        	<button class="btn btn-danger btn-sm rounded-2" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"> Delete</i></button>
			        </div>
			    </div>
		    </div>
	  	</div>

	  	<div class="col-sm-4 mb-4">
		    <div class="card">
		    	<div class="card-header"><h5 class="card-title"><center>Soda</center></h5></div>
		    	<div class="card-img-top">
		    		<center><img src="http://glyffix.com/Image/ShowUploadedImage/1608" alt="Card image cap"></center>
		    	</div>
			    <div class="card-body">
			        <h5 class="card-title"><center>Special title Description</center></h5>
			        <div class="d-flex justify-content-around">
			        	<h2>Clories : </h2>
			        	<h2>123</h2>
			        </div>
			        <div class="card-header d-flex justify-content-around">
			        	<button class="btn btn-success btn-sm rounded-2" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"> Update</i></button>
			        	<button class="btn btn-danger btn-sm rounded-2" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"> Delete</i></button>
			        </div>
			    </div>
		    </div>
	  	</div>

	  	<div class="col-sm-4 mb-4">
		    <div class="card">
		    	<div class="card-header"><h5 class="card-title"><center>Soda</center></h5></div>
		    	<div class="card-img-top">
		    		<center><img src="http://glyffix.com/Image/ShowUploadedImage/1608" alt="Card image cap"></center>
		    	</div>
			    <div class="card-body">
			        <h5 class="card-title"><center>Special title Description</center></h5>
			        <div class="d-flex justify-content-around">
			        	<h2>Clories : </h2>
			        	<h2>123</h2>
			        </div>
			        <div class="card-header d-flex justify-content-around">
			        	<button class="btn btn-success btn-sm rounded-2" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"> Update</i></button>
			        	<button class="btn btn-danger btn-sm rounded-2" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"> Delete</i></button>
			        </div>
			    </div>
		    </div>
	  	</div>

	</div>

</body>
</html>
