<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background-color: #434">
    	<% if(page == 'signup') { %>
    		<%- include signup %>
    	<% } %>

    	<% if(page == 'signin') { %>
    		<%- include signin %>
    	<% } %>

  </body>
</html>
